$width: 100px;
$radius: 10px;
$border: 1px solid black;

.node-wrapper {
  width: $width;
  border-radius: $radius;
  border: $border;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background: #ffffff;
  cursor: pointer;
  position: absolute;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.node-wrapper:hover {
  z-index: 1000000 !important;
  background: rgb(255, 222, 222);
}

.node-id {
  width: 100%;
  padding: 5px;
  text-align: left;
  border-bottom: $border;
  flex: 2;
}

.node-id span {
  color: rgb(202, 0, 0);
}

.node-connections {
  text-align: left;
  width: 100%;
  flex: 6;
  padding: 5px;
  overflow: auto;
  max-height: 83px;
}

.node-connections span {
  color: green;
}

.node-value {
  text-align: right;
  width: 100%;
  border-top: $border;
  flex: 2;
  padding: 5px;
  color: #eeeeee;
  background: black;
}
